# This is a practice of working with datasets

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
import collections
import itertools
print(os.listdir("C:/Users/Alena"))

['.ipynb_checkpoints', '1-2Z6_OZGupydHyEajtQE0Gg.png', '1-L9O-gn244nJRMIi3RsDbag-1.png', 'data.csv', 'DST', 'movies.xls', 'Project1try.ipynb', 'ratings.xls', 'SkillFactory', 'SkillFactoryQAP', 'Stepic', 'Students.xlsx']

In [2]:
data = pd.read_csv('C:/Users/Alena/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Preprocessing the dataset

In [4]:
answer_ls = [] # This is an empty list with the answers. Here we will add answers as we will pass the test
data['income'] = data.revenue - data.budget # Here we enter the creation of new columns in the dataset

# 1. Which movie on the list has the biggest budget?

1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
data[data.budget == data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [6]:
answer_ls.append(4)

# 2. Which of the movies is the longest (in minutes)?
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data[data.runtime == data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

In [8]:
answer_ls.append(2)

# 3. Which of the movies is the shortest (in minutes)?

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data[data.runtime == data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

In [10]:
answer_ls.append(3)

# 4. The average duration of the movie?

1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
data.runtime.mean()

109.65343915343915

In [12]:
answer_ls.append(2)

# 5. The median duration of the movie?

1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
data.runtime.median()

106.5

In [14]:
answer_ls.append(1)

# 6. What is the most profitable movie?

1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data.sort_values(by='income', ascending=False).original_title.head(1)

239    Avatar
Name: original_title, dtype: object

In [16]:
answer_ls.append(5)

# 7. Which movie is the most unprofitable?

1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
data.sort_values(by='income').original_title.head(1)

491    The Warrior's Way
Name: original_title, dtype: object

In [18]:
answer_ls.append(2)

# 8. How many films have a profit in total?

1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [19]:
len(data[data.income > 0])

1478

In [20]:
answer_ls.append(1)

# 9. The most profitable film in 2008?

1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
data[data.release_year == 2008].sort_values(by='revenue', ascending=False).original_title.head(1)

600    The Dark Knight
Name: original_title, dtype: object

In [22]:
answer_ls.append(4)

# 10. The most unprofitable film for the period from 2012 to 2014 (including this years)?

1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [23]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values(by='income').original_title.head(1)

1246    The Lone Ranger
Name: original_title, dtype: object

In [24]:
answer_ls.append(5)

# 11. Which genre of movies is the most popular?

1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [25]:
list_of_genres = [genres.split('|') for genres in data.genres]

c = Counter()
for genre in list(itertools.chain(*list_of_genres)):
    c[genre] += 1
c.most_common(1)

[('Drama', 782)]

In [26]:
answer_ls.append(3)

# 12. What is the most profitable genre of films?

1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [27]:
pfofit_genres = [genres.split('|') for genres in data[data.income > 0].genres]
    
c = Counter()
for genre in list(itertools.chain(*pfofit_genres)):
    c[genre] += 1
c.most_common(1)

[('Drama', 560)]

In [28]:
answer_ls.append(1)

# 13. Which Director has made more films than others?

1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [29]:
data.director.describe().top

'Steven Soderbergh'

In [30]:
answer_ls.append(3)

# 14. Which Director has made more profitable films than others?

1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [31]:
c = Counter()
for index, row in data[data.income > 0].iterrows():
    directors = row.director.split('|')
    for director in directors:
        c[director] += 1
c.most_common(1)

[('Ridley Scott', 12)]

In [32]:
answer_ls.append(4)

# 15. Which of the Directors made the most profit?

1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [33]:
c = Counter()
for index, row in data.iterrows():
    directors = row.director.split('|')
    for director in directors:
        c[director] += row.income
c.most_common(1)

[('Peter Jackson', 5202593685)]

In [34]:
answer_ls.append(5)

# 16. Which of the actors made the most profit??

1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [35]:
c = Counter()
for index, row in data.iterrows():
    actors = row.cast.split('|')
    for actor in actors:
        c[actor] += row.income
c.most_common(1)

[('Emma Watson', 6666245597)]

In [36]:
answer_ls.append(1)

# 17. Which actor made the least profit in 2012?

1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [37]:
c = Counter()
for index, row in data[data.release_year == 2012].iterrows():
    actors = row.cast.split('|')
    for actor in actors:
        c[actor] += row.income
c.most_common()[-1]

('Kirsten Dunst', -68109207)

In [38]:
answer_ls.append(3)

# 18. Which actor has appeared in a largest number of high-budget films? (in films where the budget is higher than the average for this sample)

1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [39]:

c = Counter()
for index, row in data[data.budget > data.budget.mean()].iterrows():
    actors = row.cast.split('|')
    for actor in actors:
        c[actor] += 1
c.most_common(1)

[('Matt Damon', 18)]

In [40]:
answer_ls.append(3)

# 19. What genre of films did Nicolas Cage star more often?  

1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [41]:
c = Counter()
for index, row in data[data.cast.str.contains("Nicolas Cage", na=False)].iterrows():
    genres = row.genres.split('|')
    for genre in genres:
        c[genre] += 1
c.most_common(1)

[('Action', 17)]

In [42]:
answer_ls.append(2)

# 20. Which film company has made films more than others?

1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [43]:
c = Counter()
for index, row in data.iterrows():
    companies = row.production_companies.split('|')
    for company in companies:
        c[company] += 1
c.most_common(1)

[('Universal Pictures', 173)]

In [44]:
answer_ls.append(1)

# 21. Which film company has made films more than others in 2015?

1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
c = Counter()
for index, row in data[data.release_year == 2015].iterrows():
    companies = row.production_companies.split('|')
    for company in companies:
        c[company] += 1
c.most_common(1)

[('Warner Bros.', 12)]

In [46]:
answer_ls.append(4)

# 22. Which movie company has made more money than others in the Comedy genre of all time?

1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [47]:
c = Counter()
for index, row in data[data.genres.str.contains("Comedy", na=False)].iterrows():
    companies = row.production_companies.split('|')
    for company in companies:
        c[company] += row.income
c.most_common(1)

[('Universal Pictures', 8961545581)]

In [48]:
answer_ls.append(2)

# 23. Which film company has made films more than others in 2012?

1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [49]:
c = Counter()
for index, row in data[data.release_year == 2012].iterrows():
    companies = row.production_companies.split('|')
    for company in companies:
        c[company] += row.income
c.most_common(1)

[('Columbia Pictures', 2501406608)]

In [50]:
answer_ls.append(3)

# 24. The most unprofitable film from Paramount Pictures

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [51]:
data[data.production_companies.str.contains("Paramount", na=False)
    ].sort_values(by='income').iloc[0].original_title

'K-19: The Widowmaker'

In [52]:
answer_ls.append(1)

# 25. What is The most profitable year (earned the most)?

1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [53]:
data.groupby(['release_year'])['income'].sum().sort_values(ascending=False).head(1)

release_year
2015    18668572378
Name: income, dtype: int64

In [54]:
answer_ls.append(5)

# 26. What Is the most profitable year for Warner Bros.?

1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [55]:
data[data.production_companies.str.contains("Warner Bros", na=False)
    ].groupby(['release_year'])['income'].sum().sort_values(ascending=False).index[0]

2014

In [56]:
answer_ls.append(1)

# 27. In what month for all the years were released in total more films?

1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [57]:
def month_maker(x):
    x = str(x)[0:2]
    if '/' in str(x):
        x = str(x).replace('/','')
    return x

data['release_month'] = data.release_date.apply(month_maker)
data.release_month = pd.to_numeric(data.release_month)
data.release_month.value_counts().head(1)

9    227
Name: release_month, dtype: int64

In [58]:
answer_ls.append(4)

# 28. How many films were released in total in the summer? (in June, July, August)

1. 345
2. 450
3. 478
4. 523
5. 381

In [59]:
len(data[(data.release_month >= 6) & (data.release_month <= 8)])

450

In [60]:
answer_ls.append(2)

# 29. Which Director produces (in total by year) more films in winter?

1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [61]:
data[(data.release_month == 12)
   | (data.release_month == 1) 
   | (data.release_month == 2)].director.value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

In [62]:
answer_ls.append(5)

# 30. Which month is most often the most profitable?

1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [63]:
months_and_years = data.pivot_table(columns = 'release_year', index = 'release_month', values = 'income', aggfunc = 'sum')
months_and_years = months_and_years.sort_values(['release_month'],ascending=False)
months_and_years

list_of_months = []

for i in months_and_years:
    list_of_months.append(months_and_years[i].sort_values(ascending=False).index[0])
month_count = collections.Counter(list_of_months)
month_count.most_common(1)

[(6, 7)]

In [64]:
answer_ls.append(2)

# 31. Which Studio's movie titles are the longest on average in terms of the number of characters?

1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [65]:
lens_of_titles = [len(x) for x in data.original_title]
data['len_of_title'] = lens_of_titles

c = Counter()
for index, row in data.iterrows():    
    companies = row.production_companies.split('|')
    for company in companies:
        c[company] += row.len_of_title

b = Counter()
for index, row in data.iterrows():
    companies = row.production_companies.split('|')
    for company in companies:
        b[company] += 1

len_df = pd.DataFrame(c.most_common())
len_df.columns = ['company', 'len_of_all_movies']

count_df = pd.DataFrame(b.most_common())
count_df.columns = ['company', 'count_of_movies']

joined = count_df.merge(len_df, on='company', how='left')

joined['mean_len'] = joined['len_of_all_movies']/joined['count_of_movies']

joined.sort_values(by='mean_len', ascending=False).head(1)

                      company  count_of_movies  len_of_all_movies  mean_len
1531  Four By Two Productions                1                 83      83.0

In [66]:
answer_ls.append(5)

# 32. Which Studio has the longest movie titles in terms of the number of words on average?

1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [67]:
lens_of_words = [len(x.split(' ')) for x in data.original_title]

data['lens_of_words'] = lens_of_words

c = Counter()
for index, row in data.iterrows():    
    companies = row.production_companies.split('|')
    for company in companies:
        c[company] += row.lens_of_words

b = Counter()
for index, row in data.iterrows():
    companies = row.production_companies.split('|')
    for company in companies:
        b[company] += 1

len_df = pd.DataFrame(c.most_common())
len_df.columns = ['company', 'len_of_all_words']

count_df = pd.DataFrame(b.most_common())
count_df.columns = ['company', 'count_of_movies']

joined = count_df.merge(len_df, on='company', how='left')

joined['mean_len'] = joined['len_of_all_words']/joined['count_of_movies']

joined.sort_values(by='mean_len', ascending=False).head(1)

                      company  count_of_movies  len_of_all_words  mean_len
1531  Four By Two Productions                1                12      12.0

In [68]:
answer_ls.append(5)

# 33. How many different words are used in movie titles? (case insensitive)

1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [69]:
data_copy = data.copy()

def title_maker(x):
    if '-' in x:
        x = x.replace('-',' ')
    return x.lower()

data_copy.original_title = data_copy.original_title.apply(title_maker)

c = Counter()
for index, row in data_copy.iterrows():
    words = row.original_title.split(' ')
    for word in words:
        c[word] += 1
len(c)

2461

In [70]:
answer_ls.append(3)

# 34. Which movies are in the top 1 percent of the rating?

1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [71]:
best = int(round(len(data)/100, 1))

movies_from_task = ['Inside Out','Gone Girl','12 Years a Slave','BloodRayne',
     'The Adventures of Rocky & Bullwinkle',
     'The Lord of the Rings: The Return of the King','300',
     'Lucky Number Slevin','Upside Down']

for movies in data.sort_values(by='vote_average', ascending=False).head(best).original_title:
    for movie in movies_from_task:
        if movie in movies:
            print(movie)

Inside Out
The Lord of the Rings: The Return of the King
12 Years a Slave
Gone Girl

In [72]:
answer_ls.append(1)

# 35. Which actors more often cast in the same film together?

1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [73]:
actor_pairs = []

for actors in data.cast:
    cast = actors.split('|')
    cast.sort()
    for pair in itertools.combinations(cast, 2):
        actor_pairs.append(pair)

c = Counter()
for pair in actor_pairs:
    c[pair] += 1
c.most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [74]:
answer_ls.append(5)

# 36. Which Director is more likely to release the film in profit? 

1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [75]:
b = Counter()
for index, row in data.iterrows():
    directors = row.director.split('|')
    for director in directors:
        b[director] += 1
        
all_movies = pd.DataFrame(b.most_common())
all_movies.columns=['director', 'all_movies']

c = Counter()
for index, row in data[data.income > 0].iterrows():
    directors = row.director.split('|')
    for director in directors:
        c[director] += 1
                       
profit_movies =  pd.DataFrame(c.most_common())
profit_movies.columns=['director', 'profit_movies']

joined_df = profit_movies.merge(all_movies, on='director', how='left')
joined_df['percent'] = round((joined_df['profit_movies']/joined_df['all_movies'] * 100), 1)

joined_df[(joined_df.director == 'Quentin Tarantino')
       | (joined_df.director == 'Steven Soderbergh')
       | (joined_df.director == 'Robert Rodriguez')
       | (joined_df.director == 'Christopher Nolan')
       | (joined_df.director == 'Clint Eastwood')].sort_values(by='percent', ascending=False)

             director  profit_movies  all_movies  percent
7   Christopher Nolan              8           8    100.0
17  Quentin Tarantino              6           7     85.7
2      Clint Eastwood             10          12     83.3
3   Steven Soderbergh             10          13     76.9
12   Robert Rodriguez              8          11     72.7

In [76]:
answer_ls.append(4)

# Submission

In [77]:
len(answer_ls)

36

In [78]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4